<%types = {
  "Top Movies" =>  "movie", 
  "Top Books" => "book", 
  "Top Albums" => "album"
  }%>
  
<%highest_voted = Work.highest_voted%>
<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <%if highest_voted.nil?%>
        Media Spotlight: There is no media in this rank
      <%else%>
        Media Spotlight: <%= link_to highest_voted.title, work_path(highest_voted.id)%>
        <small><%=highest_voted.votes.length%> votes</small>
        <p>
        <small><%=highest_voted.description%></small>
        </p>
      <%end%>
    </h2>
  </section>
  <% types.each do |title, type|%>
    <hr class="root__hr">
    <section class="top-ten__container">
      <section class="top-ten__header">
        <h2 class="top-ten__header">
          <%= type %>
        </h2>
        <ul class="list-group top-ten__list">
          <li class="list-group-item"> 
          <h4>
          <%list_work = Work.spotlight(type)%>
          <% if list_work.empty?%>
            <p><%="There is no media for #{type}"%></p>
          <%else%>
            <%list_work.each do |work|%>
              <%= link_to work.title, work_path(work.id)%>
            <small>
              <%=work.creator%>
            </small>
            <p><%=work.votes.length%></p>
            <%end%>
          <%end%> 
          </h4>

          </li>
        </ul>
      </section>
    </section>
  <%end%>
</main>