<%types = {
  "Top Movies" =>  "movie", 
  "Top Books" => "book", 
  "Top Albums" => "album"
  }%>
  
<%highest_voted = Work.highest_voted%>
<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <%if highest_voted.nil?%>
        <span class="spotlight__header--prefix">Media Spotlight:</span>
        <span>There is no media in this rank</span>
        </h2>
      <%else%>
         <h2 class="spotlight__header">
            <span class="spotlight__header--prefix">Media Spotlight:</span> 
        <%= link_to highest_voted.title, work_path(highest_voted.id), class: "spotlight__link-to"%>
        </h2>
        <p class="spotlight__description">
          <%=highest_voted.votes.length%> -votes <%=highest_voted.description%>
        </p>
      <%end%>
  </section>

  <hr class="root__hr">
  <section class="top-ten__container">
  <% types.each do |title, type|%>
      <section class="top-ten__list-container">
        <h2 class="top-ten__header">
          <%= type %>
        </h2>
        <ul class="list-group top-ten__list">
          <li class="list-group-item"> 
          <h4>
          <%list_work = Work.spotlight(type)%>
          <% if list_work.empty?%>
            <p><%="There is no media for #{type}"%></p>
          <%else%>
            <%list_work.each do |work|%>
              <%= link_to work.title, work_path(work.id)%>
            <small class="top-ten__creator">
              <%=work.creator%>
            </small>
            <p><%=work.votes.length%></p>
            <%end%>
          <%end%> 
          </h4>
          </li>
        </ul>
      </section>
  <%end%>
  </section>
</main>