<%types = ["album", "book", "movie"]%>
<section class="alert__container">
  <div class="alert alert-warning">
    <span>There is a problem: Could not create <%= @work.category %> </span>
    <ul>
      <% @work.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>


  <%= form_with model: @work, class: 'create-form' do |f| %>

    <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, types %>
      
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </div>

    <div class="form-group">
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year %>
    </div>

    <div class="form-group">
      <%= f.label :descrition %>
      <%= f.text_area :descrition %>
    </div>

    <div class="form-group">
      <%= f.submit action_name, class: "button-submit"%>
    </div>
  <% end %>
</section>