<h2>List of Works</h2>
<%types = {
  "Albums" => "album",
  "Books" => "book",
  "Movies" => "movie"
}%>

<% types.each do |title, category|  %>
  <section>
    <h4><%=title%></h4>
    <table class="table">
      <thead>
        <tr>
          <th width="80"> Votes </th>
          <th>Title</th>
          <th>Created by</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
      <%sorted = @works.sort_by { |work| -work.votes.length }%>
      <% sorted.each do |work|  %>
        <% if work.category == category %>
        <tr>
        <td><%=work.votes.length%></td>
          <td>
            <%= link_to work.title, work_path(work) %>
          </td>
          <td>
            <%=work.creator%>
          <td>
            <%=work.publication_year%>
          </td>
          <td>
            <%=link_to "upvote", upvote_path(work.id), method: :post%>
          </td>
        </tr>
        <%end%>
      <% end %>
      </tbody>
    </table>
  </section>
 <%end%>

 <section class="button">
  <h3><%= link_to "View top media", root_path %></h3>
  <h3><%= link_to "Add a New Work", new_work_path %></h3>
</section>



