<%if @user.errors.any?%>
<section class="alert__container">
  <div class="alert alert-warning">
    <span>Could not log in</span>
      <ul>
          <%@user.errors.each do |column, message|%>
            <li> <%=column%>: <%=message%> </li>
          <%end%>
      </ul>
  </div>
</section>
<%end%>

<%= form_with model: @user, class: 'login__form', url: login_path do |f| %>
  <div>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </div>
  <%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>