<main>
  <section>
    <h2>
      User Summary: <%= @user.username %>
    </h2>
  
  </section>
  <section>
   <%= link_to "Back to media ranks", root_path %>
   <%= link_to "See all users", users_path%>
  </section>
  <section>
    <h3><%=@work.votes.length%> Votes for this Album</h3>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
        <body>
          
          <% @user.votes.each do |vote|%>
          <tr>
            <%work = Work.find_by(id: vote.work_id)%>
            <td><%= work.title%> </td>
            <td><%= work.creator%></td>
            <td><%= work.published_year%></td>
            <td><%= work.published_year%></td>
            <td><%= work.category%></td>
            <td><%= vote.created_at.strftime("%m/%d/%Y")%></td>
          </tr>
          <%end%>
   
          
        </body>
      </thead>
    </table>
  </section>
</main>
