<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="app-header__header">
      <h1>
       Media Ranker |
        <small>Ranking the Best of Everything</small></h1>
         <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item"><%= link_to "Home", root_path%></li>
          <li class="nav-item app-header__nav_item"><%= link_to "View all media", works_path %></li>
          <li class="nav-item app-header__nav_item"><%= link_to "View all users", users_path %></li>
          <% if session[:user_id]%>
            <li><%= link_to "Logout", logout_path, method: :post%></li>
          <% else %>
            <li><%= link_to "Log in", login_path%></li>
          <%end %>
        </ul>
      </nav>
      </header>
    
   </body>   
    </header>
    <header>
    <body>
      <section class="flash"> 
        <% flash.each do |name, message|%> 
         <div class="<%=name%>"> <%= message %> </div>
        <%end%>
      </section>
    <%= yield %>
  </body>
</html>




   
